.container{
    margin-top: 30px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: none;
    position:absolute;
}
.navbar{
    padding: 0 30px;
    margin: 0 30px;
    display: flex;
    justify-content:space-between;
    /* align-items:center    */
}
.logo{
    width: 260px;
    height: auto;
}
.link{
    padding-top: 22px;
    opacity: 1;
    color: #190A32;
}
.link1{
    font-size: 15px;
    letter-spacing: .01em;
    text-transform: capitalize;
    /* padding-left: 20px!important; */
    padding-right: 40px!important;
    padding-bottom: 30px;
    font-weight: 600;
    padding-top: 0;

}
.link1:hover{
    color: blue;
}
.btn{
    padding-top: 0;
    border: none;
    outline: none;
    background: #fff;
    color: #190A32;
    font-size: 15px;
    border-radius: 25px;
    /* margin-left: 15px; */
    /* margin-right: 20px; */
    padding: 10px 25px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 600;
}
.btn:hover{
    background: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
    color: #fff;
}
.btntext{
    align-items: center;
    background: none;
}
.hamburger{
    cursor: pointer;
    letter-spacing: .01em;
    text-transform: capitalize;
    color: #190A32;
    font-size: 15px;
    padding: 0px 9px;
    border: 1px solid;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.displayflex{
    position: absolute;
    right: 30px;
    top: 29px;
}
.icon{
   align-items: center;
}
.toggler{
    background: black;
    text-decoration: none;
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.toggler{
    display: none;
}

.collapse{
    list-style: none;
    background: black;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.text1{
    cursor: pointer;
    font-size: 15px;
    letter-spacing: .01em;
    text-transform: capitalize;
    font-weight: 600;
    background: black;
    color: white;
}
.text1:hover{
     color: tomato;
}
@media screen and (max-width: 1050px) {
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar{
        padding: 0 15px;
        margin: 0 30px;
    }
}
@media screen and (max-width: 992px){
    .container{
        padding-right: 5px;
        padding-left: 5px;
    }
    .navbar{
        padding: 0 5px;
        margin: 0 5px;
    }
    .link1{
        display: none;
    }
    .btn{
        margin-right: 75px;
    }
    .hamburger{
       display: flex;
    }
}
@media screen and (max-width: 480px){
    .navbar{
        align-items: center;
        padding: 0px;
        margin: 0px;
    }
    .logo1{
        width: 175px;
    }
    .link{
        padding-top: 0px;
    }
    .btn{
        margin-right: 65px;
    }
    .displayflex{
        right: 13px;
        top: 53px;
    }
}