.bannerStatic {
        background: #fff url(../../public/images/slider-bg.jpg) 90% top no-repeat;
        height: 134vh;
        overflow: hidden;
        background-size: cover;
}

.container {
    width: 100%;
    padding-top: 190px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.section1{
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
    padding: 0 30px;


}
.column1{
    padding-top: 150px;   
    width: 50%;
}

.column1 h3{
    padding-right: 30%;
    margin: 0;
    color: #190A32;
    font-size: 42px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 11px;
}
.column1 p{
    color: #666;
    padding-right: 15%;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 54px;
} 
.btn1{
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 28px;
    padding:20px 29px;
    margin-right: 10px;
}
.column2{
    width: 50%;
    text-align: center;
}
/* .btn2::before{
    border: 1px solid ;
    border-color: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
} */

/* 
.abc {
    @media (min-width: 992px){
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media (min-width: 768px){
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
} */

/*  */
/* SECTION 3 */

.bannerwork{
    background: ghostwhite;

}
.container3{
    width: 100%;
    padding-top: 120px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}
.sec3_col1{
    width: 50%; 
    padding: 0px 30px;
    margin:0px 30px;
}
.sec3_col1 img{
   position: relative;
   top: 40px;
   left: 70px;
}

.sec3_col2{
    width: 50%;
}
.sec3_col2  img{
    position: absolute;
    padding-left: 50px;
    height: 90%;
}
.sec3_col2 h3{
    /* margin-left: 30px; */
    color: #150A33;
    font-size: 32px;
    line-height: 48px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.sec3_information{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top:30px;
    margin-left: 30px;

}
.sec3_inform{
    padding-left: 40px;
}
.sec3_inform h4{
    font-size: 20px;
    color: #150A33;
    font-weight: 600;
}
.sec3_inform p{
    font-size: 14px;
    line-height: 27px;
    color: #656565;
    margin-top: 10px;
}


/* SECTION 4 */

.bannerevent{
    background: ghostwhite;
}
.container4{
    width: 100%;
    padding-top: 120px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.section4{
    display: flex;
    justify-content: center;
    margin: 0 30px;
}
.sec4_col1{
    width: 50%;
    margin: 0 30px;
}
.sec4_col1 img{
    /* text-align: end; */
    float: left;
    box-shadow: 0 16px 43px rgb(78 48 135 / 24%);
    /* height: 425px */
}
.sec4_col2{
    width: 50%;
    margin: 0 30px;
    padding: 0 30px;
    padding-top: 80px;

}
.sec4_col2 h3{
    color: #150A33;
    font-size: 32px;
    line-height: 48px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.sec4_col2 p{
    font-size: 16px;
    line-height: 27px;
    color: #656565;
    letter-spacing: .01em;
    margin: 0;
    margin-bottom: 20px;
}
.sec4_col2 a{
    text-align: center;
}
.sec4_arrow{
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(107, 64, 191);
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

}
.sec4_arrow:hover{
    color: #D9378B;
}

/* section5 */
.bannerblog{
    background: ghostwhite;
}
.container5{
    width: 100%;
    padding-top: 120px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 120px;
}
.section5{
    display: flex;
    justify-content: center;
    margin: 0 30px;

   
}
.sec5_col1{
    width: 50%;
    margin: 0 30px;
}
.sec5_col1 img{
    /* text-align: end; */
    float: right;
    /* height: 425px */
}
.sec5_col2{
    padding-top: 80px;
    width: 50%;
    margin: 0 30px;
}
.sec5_col2 h3{
    color: #150A33;
    font-size: 32px;
    line-height: 48px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.sec5_col2 p{
    font-size: 16px;
    line-height: 27px;
    color: #656565;
    letter-spacing: .01em;
    margin: 0;
    margin-bottom: 20px;
}
.sec5_col2 a{
    text-align: center;
}
.sec5_arrow{
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(107, 64, 191);
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

}
.sec5_arrow:hover{
    color: #D9378B;
}


/* SECTION 6 */

.section6{
    background: url(../../public/video-bg-1-13-1-1-3-1.jpg) repeat fixed 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}
.section6::before{
    z-index: 2;
    position: absolute;
    content: "";
    height: 100%;
    background: rgba(61,30,130,.67);
    opacity: 0.7;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.container6{
    z-index: 999;
    padding-top: 100px;
    text-align: center;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.container6 h3{

    color: #fff;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 50px;
}
.container6 a{
    width: 109px;
    height: 109px; 
    border-radius: 50%;
    background: rgba(255,255,255,.3);
    text-align: center;
    display: inline-block;
    line-height: 109px;
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.play{
    display: inline-block;
    vertical-align: middle;
    width: 84px !important;
    height: 84px !important;
    color: #fff;
    /* font-size: 45px; */
    line-height: 84px;
    border-radius: 50%;
    background-color: #D9378B;
}
@keyframes hvr-pulse {
    25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
    
}